services:
  rabbitmq:
    image: rabbitmq:3-management
    volumes:
      - ./.rabbitmq/etc/:/etc/rabbitmq/
      - ./.rabbitmq/data/:/var/lib/rabbitmq/
      - ./.rabbitmq/logs/:/var/log/rabbitmq/
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - 5672:5672
      - 15672:15672